USE [master]
GO
/****** Object:  Database [FoodOrderingBuddy]    Script Date: 14/12/2015 07:47:01 ******/
CREATE DATABASE [FoodOrderingBuddy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodOrderingBuddy', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FoodOrderingBuddy.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FoodOrderingBuddy_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FoodOrderingBuddy_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodOrderingBuddy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodOrderingBuddy]
GO
/****** Object:  Table [dbo].[MenuCatergory]    Script Date: 14/12/2015 07:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuCatergory](
	[MenuCatergoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[Image] [varbinary](max) NULL,
	[DateCreated] [datetime2](7) NULL,
 CONSTRAINT [PK_MenuCatergory] PRIMARY KEY CLUSTERED 
(
	[MenuCatergoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuItem]    Script Date: 14/12/2015 07:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuItem](
	[MenuItemId] [int] IDENTITY(1,1) NOT NULL,
	[MenuCategoryId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[Price] [decimal](7, 2) NOT NULL,
	[Visible] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MenuItem] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 14/12/2015 07:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](200) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[MenuItemsTotal] [int] NOT NULL,
	[Total] [decimal](7, 2) NOT NULL,
	[OrderResponse] [varchar](max) NULL,
	[QueueId] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 14/12/2015 07:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[MenuItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 14/12/2015 07:47:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [varchar](max) NOT NULL,
	[MenuItemId] [int] NOT NULL,
	[UserId] [varchar](200) NOT NULL,
	[Count] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MenuCatergory] ON 

GO
SET IDENTITY_INSERT [dbo].[MenuCatergory] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItem] ON 

GO
INSERT [dbo].[MenuItem] ([MenuItemId], [MenuCategoryId], [Name], [Description], [Price], [Visible], [DateCreated]) VALUES (1, 7, N'Cheese Burger', N'A burger with a layer of cheese', CAST(25.00 AS Decimal(7, 2)), 1, CAST(N'2015-07-07 22:29:02.8500000' AS DateTime2))
GO
INSERT [dbo].[MenuItem] ([MenuItemId], [MenuCategoryId], [Name], [Description], [Price], [Visible], [DateCreated]) VALUES (2, 7, N'King Burger', N'A burger with 2 patties', CAST(40.00 AS Decimal(7, 2)), 1, CAST(N'2015-07-07 22:29:02.8500000' AS DateTime2))
GO
INSERT [dbo].[MenuItem] ([MenuItemId], [MenuCategoryId], [Name], [Description], [Price], [Visible], [DateCreated]) VALUES (3, 16, N'Mexican Pizza', N'A pizza with salsa and chicken strips', CAST(50.00 AS Decimal(7, 2)), 1, CAST(N'2015-07-07 22:29:02.8500000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[MenuItem] OFF
GO
ALTER TABLE [dbo].[MenuItem]  WITH CHECK ADD  CONSTRAINT [FK_MenuItem_MenuCatergory] FOREIGN KEY([MenuCategoryId])
REFERENCES [dbo].[MenuCatergory] ([MenuCatergoryId])
GO
ALTER TABLE [dbo].[MenuItem] CHECK CONSTRAINT [FK_MenuItem_MenuCatergory]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_MenuItem] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[MenuItem] ([MenuItemId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_MenuItem]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Order]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_MenuItem] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[MenuItem] ([MenuItemId])
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_MenuItem]
GO
USE [master]
GO
